astroid==2.11.0
click==7.1.1
Flask==1.1.2
isort==4.3.21
itsdangerous==1.1.0
Jinja2==2.11.3
lazy-object-proxy==1.4.3
MarkupSafe==2.1.1
mccabe==0.6.1
numpy==1.23.1
pandas==1.4.1
Pillow==9.0.1
pylint==2.12.2
python-dateutil==2.8.1
pytz==2020.1
qrcode==7.3.1
six==1.14.0
speedtest-cli==2.1.2
typed-ast==1.5.2
Werkzeug==2.1.2
wrapt==1.14.0
